body {
    margin: 0px;
    background-image: url('hallimg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
    margin: 0px;
}

.maincontent{

   
   opacity:0.1;
    
}
.row{
    opacity:1.2;
    background-color:#CF0000;
     font-family: "palatino linotype", palatino, serif;
  font-size: 20px;
  
  font-style: italic;
  font-weight: bold;
  font-variant: normal;
  text-align: left;
  letter-spacing: 0px;
  line-height: 20px;
  color:#00053e;
    
}
h1{
    font-family: "palatino linotype", palatino, serif;
  font-size: 35px;
  
  font-style: italic;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
  letter-spacing: 0px;
  line-height: 20px;
  color:#00053e;
}
.boxfooter {
    text-align: center;
}
button
{
    font-family: "palatino linotype", palatino, serif;
    font-style: italic;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
  letter-spacing: 0px;
  line-height: 20px;
  color:#00053e;
   
}